

.date-picker {
  margin: 200px auto; }

.date-picker {
    width: 30%;
    height: auto;
    max-height: 60px;
    background: white;
    position: relative;
    overflow: hidden;
    transition: all 0.3s 0s ease-in-out;
    float: left;
    margin-left: 3%;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 10px;
    background: transparent;
}
  .date-picker .input {
    width: 100%;
    height: 50px;
    font-size: 0;
    cursor: pointer;
    background: #4b6eaf;
}
.date-picker .input .result label {
    position: absolute;
    top: -14px;
    left: 20px;
    color: #fff;
    background: #4b6eaf;
    padding: 0 5px;
    font-weight: 500;
}
    .date-picker .input .result, .date-picker .input button {
      display: inline-block;
      vertical-align: top; }
.date-picker .input .result {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    padding: 0 10px;
    color: grey;
    box-sizing: border-box;
    border: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
} 
.date-picker .input button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: white;
    line-height: 50px;
    border: 0;
    font-size: 18px;
    padding: 0;
    position: absolute;
    pointer-events: none;
    right: 0;
}

      .date-picker .input button:focus {
        outline: 0; }
  .date-picker .calendar {
    position: relative;
    width: 100%;
    background: #fff;
    border-radius: 0px;
    overflow: hidden; }
  .date-picker .ui-datepicker-inline {
    position: relative;
    width: 100%; }
  .date-picker .ui-datepicker-header {
    height: 100%;
    line-height: 50px;
    background: #8392A7;
    color: #fff;
    margin-bottom: 10px; }
  .date-picker .ui-datepicker-prev, .date-picker .ui-datepicker-next {
    width: 24px;
    height: 24px;
    text-indent: 9999px;
    border: 2px solid #fff;
    border-radius: 100%;
    cursor: pointer;
    overflow: hidden;
    margin-top: 12px;
}
  .date-picker .ui-datepicker-prev {
    float: left;
    margin-left: 12px; }
    .date-picker .ui-datepicker-prev:after {
      transform: rotate(45deg);
      margin: -43px 0px 0px 8px; }
  .date-picker .ui-datepicker-next {
    float: right;
    margin-right: 12px; }
    .date-picker .ui-datepicker-next:after {
      transform: rotate(-135deg);
      margin: -43px 0px 0px 6px; }
.date-picker .ui-datepicker-prev:after, .date-picker .ui-datepicker-next:after {
    content: '';
    position: absolute;
    display: block;
    width: 7px;
    height: 7px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
  .date-picker .ui-datepicker-prev:hover, .date-picker .ui-datepicker-next:hover, .date-picker .ui-datepicker-prev:hover:after, .date-picker .ui-datepicker-next:hover:after {
    border-color: #68768A; }
  .date-picker .ui-datepicker-title {
    text-align: center; }
  .date-picker .ui-datepicker-calendar {
    width: 100%;
    text-align: center; }
    .date-picker .ui-datepicker-calendar thead tr th span {
      display: block;
      width: 100%;
      color: #8392A7;
      margin-bottom: 5px;
      font-size: 13px; }
  .date-picker .ui-state-default {
    display: block;
    text-decoration: none;
    color: #b5b5b5;
    line-height: 40px;
    font-size: 12px; }
    .date-picker .ui-state-default:hover {
      background: rgba(0, 0, 0, 0.02); }
  .date-picker .ui-state-highlight {
    color: #68768A; }
  .date-picker .ui-state-active {
    color: #68768A;
    background-color: rgba(131, 146, 167, 0.12);
    font-weight: 600; }
  .date-picker .ui-datepicker-unselectable .ui-state-default {
    color: #eee;
    border: 2px solid transparent; }
  .date-picker.open {
    max-height: 400px; }

