

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  font-family: 'DM Sans', sans-serif;
  background: #FBFCFE;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

a:hover {
  text-decoration: none;
  transition: .5s;
}

button {
  transition: .8s;
}

.form-control:focus {
  box-shadow: none;
}

.container {
  max-width: 1110px;
  width: 100%;
}

button:focus {
  outline: none;
}

button {
  cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
  font-family: 'DM Sans', sans-serif !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 40px white inset !important;
}
/*====== login page css start ==========*/
.transaction-page-filter .form-control {
    display: block;
    width: 100%;
    height: 37px;
    padding: 6px 16px;
    font-size: 13px;
    line-height: 1.846;
    color: #666666;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.transaction-page-filter {
    float: left;
    width: 100%;
    background: #fff;
    padding: 25px 30px 0;
    border-radius: 11px;
    box-shadow: 0 0px 5px #dedede;
    margin-bottom: 25px;
}

.transaction-page-filter .form-group:nth-child(4) {
    margin-right: 0;
}

.transaction-page-filter .form-group {
    margin-bottom: 35px;
    position: relative;
    padding-left: 0;
    float: left;
    width: 23.3%;
    height: auto;
    display: flex;
    margin-right: 2.2%;
}
.transaction-page-filter .form-group .dropdown.bootstrap-select.form-control {
    border: 0 !important;
    box-shadow: none;
}
.transaction-page-filter .form-group .bootstrap-select .dropdown-toggle:focus, .transaction-page-filter .form-group .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: thin dotted #333!important;
    outline: 0px auto -webkit-focus-ring-color !important;
    outline-offset: 0;
}
.transaction-page-filter .form-group .btn-light:not(:disabled):not(.disabled).active:focus, .transaction-page-filter .form-group .btn-light:not(:disabled):not(.disabled):active:focus, .transaction-page-filter .form-group .show>.btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0rem rgb(216 217 219 / 50%)!important;
}

.transaction-page-filter .form-group .btn-light:not(:disabled):not(.disabled).active, .transaction-page-filter .form-group .btn-light:not(:disabled):not(.disabled):active, .transaction-page-filter .form-group .show>.btn-light.dropdown-toggle {
    
    background-color: #ffffff!important;
    border-color: #c5cddc!important;
}
.top-nav .dropdown button#dropdownMenuButton {
    margin-top: 10px;
}


button.btn.reset {
    margin-left: 2px;
    background: #4b6eaf;
    color: #fff;
    font-size: 20px;
    border-radius: 8px;
    padding: 9px 32px;
    margin-top: -1px;
    margin-right: 10px;
}
.transaction-page-filter .control-label {
    font-size: 20px;
    font-weight: 400;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 22px, 0) scale(1);
    transform-origin: left top;
    transition: 240ms;
    line-height: 29px;
    left: 15px;
    top: -13px;
    padding: 0 6px;
}
.transaction-page-filter .form-control {
    border: 0;
    border-bottom: 1px solid #dadada;
    border-radius: 0;
    padding-left: 0;
    position: relative;
}
.transaction-page-filter .form-group button.btn {
    background: #fff;
    border: 2px solid #c5cddc;
    border-radius: 8px;
    height: 50px;
    line-height: 34px;
    font-size: 18px;
    padding: 6px 18px;
}
.transaction-page-filter input.form-control, .transaction-page-filter select {
    height: 45px !important;
    font-size: 14px !important;
    color: #292626 !important;
}

.transaction-page-filter .form-group.focused .control-label {
    opacity: 1;
    transform: scale(0.85);
    color: #4b6eaf;
    font-weight: 500;
    background: #fff;
    z-index: 999;
    top: -12px;
}

.dashbord-main-inner {
    float: left;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0px 3px #dedede;
    padding: 10px 12px;
    min-height: calc(100vh - 220px);
}
.top-nav {
    background: #ffffff;
    box-shadow: 0px 1px 5px #d0d0d0;
    padding: 13px 20px 8px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99;
    text-align: left;
}
.top-nav a {
    margin: 0px 0;
    display: inline-block;
    padding: 0 5px;
    float: left;
}
.top-nav img {
    margin-bottom: 0!important;
    width: 100%;
}
.right-head-div {
    float: right;
    width: 50%;
    text-align: right;
    position: relative;
}
.top-nav .dropdown {
    padding-right: 25px;
    margin: 0px 0 0;
}

.top-nav .dropdown {
    display: inline-block;
    float: right;
}
.top-nav .dropdown span {
    width: 55px;
    height: 55px;
    background: #ddd;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.top-nav .dropdown button {
    text-align: left;
    background: none;
    border: 0;
    padding: 0;
    vertical-align: top;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.top-nav .dropdown button h3 {
    color: #000000;
    font-size: 17px;
    margin-bottom: 4px;
    margin-top: 3px;
}
.top-nav .dropdown-toggle::after {
    display: inherit;
    margin-left: 0;
    vertical-align: 0;
    content: "";
    border-top: inherit;
    border-right: inherit;
    border-bottom: 0;
    border-left: inherit;
}

.top-nav .dropdown-toggle::after {
    content: ""!important;
    background-image: url(../images/down-arrow.png);
    width: 14px;
    width: 16px;
    height: 11px;
    position: absolute;
    right: 3px;
    top: 20px;
    height: 8px;
    background-repeat: no-repeat;
}
.transaction-arrow {
    width: 65px;
    height: 60px;
    background: #dce8e7;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #75a29f;
    font-size: 26px;
    float: left;
    margin-right: 0;
}
.transaction-arrow.down-arrow {
    background: #efcdc9;
    color: #cc0e0e;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.top-nav a.dropdown-item {
    padding: 12px 15px;
}

.top-nav a {
    margin: 0px 0;
    display: inline-block;
    padding: 0 5px;
    float: left;
}
.top-nav a.dropdown-item img {
    width: 22px;
    margin: 0px 10px 0px 0px;
    float: left;
}
.left-bar {
    padding: 35px 20px;
    background: #ffffff;
    background-image: none;
    color: #fff;
    height: calc(100vh - 90px);
    z-index: 9;
    width: 300px;
    vertical-align: top;
    position: fixed;
    top: 90px;
    padding: 5px 13px 30px;
    bottom: 0;
    left: 0;
    display: block;
    overflow-x: hidden;
}
.left-bar ul {
    float: left;
    width: 100%;
    margin-top: 30px;
}
.left-bar li {
    margin-bottom: 0px;
    text-align: left;
    float: left;
    width: 100%;
}
.left-bar li a {
    font-size: 18px;
    color: #8e8e8e;
    float: left;
    width: 100%;
    line-height: 54px;
    padding: 1px 7px 1px 18px;
    background: white;
    margin-bottom: 22px;
    border-radius: 50px;
}
.left-bar li a img {
    filter: contrast(0.1);
    width: 29px;
    margin-top: -2px;
}
.left-bar li a.active img.mCS_img_loaded {
    filter: none;
}
.left-bar li img {
    margin-right: 6px;
    margin-bottom: 0;
}
.left-bar li a.active {
    color: #4b6eaf;
    background: #4b6eaf1f;
    font-weight: 500;
}

.left-bar li a {
    font-size: 18px;
    color: #8e8e8e;
    float: left;
    width: 100%;
    line-height: 54px;
    padding: 1px 7px 1px 18px;
    background: white;
    margin-bottom: 22px;
    border-radius: 50px;
}
.right-main {
    width: 100%;
    display: inline-block;
    padding-left: 330px;
    min-height: calc(100vh - 140px);
    max-height: calc(100vh - 140px);
    padding-top: 110px;
    padding-right: 20px;
}
.right-main-inn {
    background: #fcfcfc;
    border-radius: 5px;
    height: 100%;
}
.dashboard-top-div {
    float: left;
    width: 100%;
}
.dashboard-top-div .dashboard-right-top-div {
    float: right;
    text-align: right;
    margin-bottom: 20px;
}
.search-div {
    position: relative;
    display: inline-block;
    margin-right: 8px;
    float: left;
}
input.input-control.search-input {
    float: left;
    width: 94%;
    border: 2px solid #d6d6d6;
    height: 47px;
    border-radius: 7px;
    background: #fff;
    padding: 11px 14px 11px 14px;
    margin-left: 3%;
    margin-top: 13px;
    margin-bottom: 20px;
}
.search-div i.fa.fa-search {
    position: absolute;
    left: 22px;
    top: 18px;
    font-size: 17px;
    color: #b9b9b9;
}
.btn.filter {
    background: #4b6eaf;
    color: #fff;
    font-size: 16px;
    padding: 10px 9px;
    height: 49px;
    margin: 1px 0 0 10px;
    border-radius: 6px;
    display: inline-block;
    float: left;
    font-weight: 500;
}
.dashbord-main-inner {
    float: left;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0px 3px #dedede;
    padding: 10px 12px;
    min-height: calc(100vh - 220px);
}
.content-fullpage {
    max-height: calc(100vh - 150px);
}
.dashboard-main-div .table-responsive {
    padding: 0 10px;
}
.table-main th {
    color: #4b6eaf;
    font-size: 16px;
    font-weight: 400;
    border-top: 0 !important;
}
.table-main td {
    font-size: 16px;
    color: #000;
    vertical-align: middle;
}
.video-div {
    width: 90px;
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
a.edit {
    background: #fff;
    height: 42px;
    width: 42px;
    display: inline-block;
    margin-left: 10px;
    border-radius: 7px;
    text-align: center;
    padding-top: 3px;
    border: 2px solid #cacaca;
    line-height: 30px;
}
.table tbody td:last-child a:first-child {
    margin-left: 0;
}
a.edit {
    background: #fff;
    height: 42px;
    width: 42px;
    display: inline-block;
    margin-left: 10px;
    border-radius: 7px;
    text-align: center;
    padding-top: 3px;
    border: 2px solid #cacaca;
    line-height: 30px;
}
.mCSB_scrollTools .mCSB_draggerRail {
    width: 7px !important;
    height: 100%;
    margin: 0 auto;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    background: #f3f2f2 !important;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 6px !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgb(75 110 175 / 69%) !important;
}
.search-div input.input-control.search-input {
    border: 2px solid #d6d6d6;
    border-radius: 8px;
    height: 52px;
    padding: 0 16px 0 35px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    width: 310px;
    font-size: 18px;
}

