@font-face {
    font-family: 'TT Norms Pro';
    src: url('TTNormsPro-BoldItalic.woff2') format('woff2'),
        url('TTNormsPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('TTNormsPro-Black.woff2') format('woff2'),
        url('TTNormsPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('TTNormsPro-BlackItalic.woff2') format('woff2'),
        url('TTNormsPro-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms Pro ExtraBlack';
    src: url('TTNormsPro-ExtraBlackItalic.woff2') format('woff2'),
        url('TTNormsPro-ExtraBlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms Pro ExtraBlack';
    src: url('TTNormsPro-ExtraBlack.woff2') format('woff2'),
        url('TTNormsPro-ExtraBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('TTNormsPro-Bold.woff2') format('woff2'),
        url('TTNormsPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('TTNormsPro-ExtraLightItalic.woff2') format('woff2'),
        url('TTNormsPro-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('TTNormsPro-ExtraBold.woff2') format('woff2'),
        url('TTNormsPro-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('TTNormsPro-ExtraBoldItalic.woff2') format('woff2'),
        url('TTNormsPro-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('TTNormsPro-Italic.woff2') format('woff2'),
        url('TTNormsPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('TTNormsPro-LightItalic.woff2') format('woff2'),
        url('TTNormsPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('TTNormsPro-ExtraLight.woff2') format('woff2'),
        url('TTNormsPro-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('TTNormsPro-Light.woff2') format('woff2'),
        url('TTNormsPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('TTNormsPro-ThinItalic.woff2') format('woff2'),
        url('TTNormsPro-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('TTNormsPro-MediumItalic.woff2') format('woff2'),
        url('TTNormsPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('TTNormsPro-Medium.woff2') format('woff2'),
        url('TTNormsPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('TTNormsPro-Regular.woff2') format('woff2'),
        url('TTNormsPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url('TTNormsPro-Thin.woff2') format('woff2'),
        url('TTNormsPro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

