

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  font-family: 'DM Sans', sans-serif;
  background: #FBFCFE;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

a:hover {
  text-decoration: none;
  transition: .5s;
}

button {
  transition: .8s;
}

.form-control:focus {
  box-shadow: none;
}

.container {
  max-width: 1110px;
  width: 100%;
}

button:focus {
  outline: none;
}

button {
  cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
  font-family: 'DM Sans', sans-serif !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 40px white inset !important;
}
/*====== login page css start ==========*/
.transaction-page-filter .form-control {
    display: block;
    width: 100%;
    height: 37px;
    padding: 6px 16px;
    font-size: 13px;
    line-height: 1.846;
    color: #666666;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.transaction-page-filter {
    float: left;
    width: 100%;
    background: #fff;
    padding: 20px 30px 0;
    border-radius: 11px;
    box-shadow: 0 0px 5px #dedede;
    margin-bottom: 25px;
}

.transaction-page-filter .form-group:nth-child(4) {
    margin-right: 0;
}

.transaction-page-filter .form-group {
    margin-bottom: 20px;
    position: relative;
    padding-left: 0;
    float: left;
    width: 23.3%;
    height: auto;
    display: flex;
    margin-right: 2.2%;
}
.transaction-page-filter .form-group .dropdown.bootstrap-select.form-control {
    border: 0 !important;
    box-shadow: none;
}
.transaction-page-filter .form-group .bootstrap-select .dropdown-toggle:focus, .transaction-page-filter .form-group .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: thin dotted #333!important;
    outline: 0px auto -webkit-focus-ring-color !important;
    outline-offset: 0;
}
.transaction-page-filter .form-group .btn-light:not(:disabled):not(.disabled).active:focus, .transaction-page-filter .form-group .btn-light:not(:disabled):not(.disabled):active:focus, .transaction-page-filter .form-group .show>.btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0rem rgb(216 217 219 / 50%)!important;
}

.transaction-page-filter .form-group .btn-light:not(:disabled):not(.disabled).active, .transaction-page-filter .form-group .btn-light:not(:disabled):not(.disabled):active, .transaction-page-filter .form-group .show>.btn-light.dropdown-toggle {
    
    background-color: #ffffff!important;
    border-color: #c5cddc!important;
}
.top-nav .dropdown button#dropdownMenuButton {
    margin-top: 10px;
}


button.btn.reset {
    margin-left: 2px;
    background: #4b6eaf;
    color: #fff;
    font-size: 20px;
    border-radius: 8px;
    padding: 10px 32px;
    margin-top: -1px;
    margin-right: 10px;
}
.transaction-page-filter .control-label {
    font-size: 20px;
    font-weight: 400;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 22px, 0) scale(1);
    transform-origin: left top;
    transition: 240ms;
    line-height: 29px;
    left: 15px;
    top: -13px;
    padding: 0 6px;
    margin: 0px;
}
.transaction-page-filter .form-control {
    border: 0;
    border-bottom: 1px solid #dadada;
    border-radius: 0;
    padding-left: 0;
    position: relative;
}
.transaction-page-filter .form-group button.btn {
    background: #fff;
    border: 2px solid #c5cddc;
    border-radius: 8px;
    height: 50px;
    line-height: 34px;
    font-size: 18px;
    padding: 6px 18px;
}
.transaction-page-filter input.form-control, .transaction-page-filter select {
    height: 45px !important;
    font-size: 14px !important;
    color: #292626 !important;
}

.transaction-page-filter .form-group.focused .control-label {
    opacity: 1;
    transform: scale(0.85);
    color: #4b6eaf;
    font-weight: 500;
    background: #fff;
    z-index: 999;
    top: -12px;
}

.dashbord-main-inner {
    float: left;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0px 3px #dedede;
    padding: 10px 12px;
    min-height: calc(100vh - 220px);
}
.top-nav {
    background: #ffffff;
    box-shadow: 0px 1px 5px #d0d0d0;
    padding: 13px 20px 8px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99;
    text-align: left;
}
.top-nav a {
    margin: 0px 0;
    display: inline-block;
    padding: 0 5px;
    float: left;
}
.top-nav img {
    margin-bottom: 0!important;
    width: 100%;
}
.right-head-div {
    float: right;
    width: 50%;
    text-align: right;
    position: relative;
}
.top-nav .dropdown {
    padding-right: 25px;
    margin: 0px 0 0;
}

.top-nav .dropdown {
    display: inline-block;
    float: right;
}
.top-nav .dropdown span {
    width: 55px;
    height: 55px;
    background: #ddd;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.top-nav .dropdown button {
    text-align: left;
    background: none;
    border: 0;
    padding: 0;
    vertical-align: top;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.top-nav .dropdown button h3 {
    color: #4a6daf;
    font-size: 17px;
    margin-bottom: 4px;
    margin-top: 3px;
}
.top-nav .dropdown button#dropdownMenuButton {
    margin-top: 10px;
    background: transparent;
    border: 0;
    color: #4b6eaf;
    font-size: 20px;
    padding: 0;
    font-weight: 500;
    margin-left: 0;
    margin-top: 10px;
}
.top-nav .dropdown-toggle::after {
    display: inherit;
    margin-left: 0;
    vertical-align: 0;
    content: "";
    border-top: inherit;
    border-right: inherit;
    border-bottom: 0;
    border-left: inherit;
}

.top-nav .dropdown-toggle::after {
    content: ""!important;
    /* background-image: url(../images/down-arrow.png); */
    width: 0;
    width: 0;
    height: 0;
    position: absolute;
    right: 3px;
    top: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .4em solid #4b6eaf;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.transaction-arrow {
    width: 65px;
    height: 60px;
    background: #dce8e7;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #75a29f;
    font-size: 26px;
    float: left;
    margin-right: 0;
}
.transaction-arrow.down-arrow {
    background: #efcdc9;
    color: #cc0e0e;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.top-nav a.dropdown-item {
    padding: 12px 15px;
}
h2.dashboard-btm-heading {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    font-size: 25px;
    color: #3b3e42;
}
.top-nav a {
    margin: 0px 0;
    display: inline-block;
    padding: 0 5px;
    float: left;
}
.top-nav a.dropdown-item img {
    width: 22px;
    margin: 0px 10px 0px 0px;
    float: left;
}
.left-bar {
    padding: 35px 20px;
    background: #ffffff;
    background-image: none;
    color: #fff;
    height: calc(100vh - 90px);
    z-index: 9;
    width: 300px;
    vertical-align: top;
    position: fixed;
    top: 90px;
    padding: 5px 13px 30px;
    bottom: 0;
    left: 0;
    display: block;
    overflow-x: hidden;
}
.left-bar ul {
    float: left;
    width: 100%;
    margin-top: 30px;
}
.left-bar li {
    margin-bottom: 0px;
    text-align: left;
    float: left;
    width: 100%;
}
.left-bar li a {
    font-size: 18px;
    color: #8e8e8e;
    float: left;
    width: 100%;
    line-height: 54px;
    padding: 1px 7px 1px 18px;
    background: white;
    margin-bottom: 22px;
    border-radius: 50px;
}
.left-bar li a img {
    filter: contrast(0.1);
    width: 29px;
    margin-top: -2px;
}
.left-bar li a.active img.mCS_img_loaded {
    filter: none;
}
.left-bar li img {
    margin-right: 6px;
    margin-bottom: 0;
}
.left-bar li a.active {
    color: #4b6eaf;
    background: #4b6eaf1f;
    font-weight: 500;
}

.left-bar li a {
    font-size: 18px;
    color: #8e8e8e;
    float: left;
    width: 100%;
    line-height: 54px;
    padding: 1px 7px 1px 18px;
    background: white;
    margin-bottom: 22px;
    border-radius: 50px;
}
.right-main {
    width: 100%;
    display: inline-block;
    padding-left: 330px;
    padding-top: 110px;
    padding-right: 20px;
    background: #fcfcfc;
}
.right-main-inn {
    background: #fcfcfc;
    border-radius: 5px;
    height: 100%;
}
.dashboard-top-div {
    float: left;
    width: 100%;
}
.dashboard-top-div .dashboard-right-top-div {
    float: right;
    text-align: right;
    margin-bottom: 20px;
}
.search-div {
    position: relative;
    display: inline-block;
    margin-right: 8px;
    float: left;
}
input.input-control.search-input {
    float: left;
    width: 94%;
    border: 2px solid #d6d6d6;
    height: 47px;
    border-radius: 7px;
    background: #fff;
    padding: 11px 14px 11px 14px;
    margin-left: 3%;
    margin-top: 13px;
    margin-bottom: 20px;
}
.search-div i.fa.fa-search {
    position: absolute;
    left: 22px;
    top: 18px;
    font-size: 17px;
    color: #b9b9b9;
}
.btn.filter {
    background: #4b6eaf;
    color: #fff;
    font-size: 16px;
    padding: 10px 9px;
    height: 49px;
    margin: 1px 0 0 10px;
    border-radius: 6px;
    display: inline-block;
    float: left;
    font-weight: 500;
}
.dashbord-main-inner {
    float: left;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0px 3px #dedede;
    padding: 10px 12px;
    min-height: calc(100vh - 310px);
}
.content-fullpage {
    max-height: calc(100vh - 150px);
}
.dashboard-main-div .table-responsive {
    padding: 0 10px;
}
.table-main th {
    color: #4b6eaf;
    font-size: 16px;
    font-weight: 500;
    border-top: 0 !important;
}
.table-main td {
    font-size: 16px;
    color: #000;
    vertical-align: middle;
}
.video-div {
    width: 60px;
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}
.video-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a.edit {
    background: #fff;
    height: 42px;
    width: 42px;
    display: inline-block;
    margin-left: 10px;
    border-radius: 7px;
    text-align: center;
    padding-top: 3px;
    border: 2px solid #cacaca;
    line-height: 30px;
}
.table tbody td:last-child a:first-child {
    margin-left: 0;
}
a.edit {
    background: #fff;
    height: 42px;
    width: 42px;
    display: inline-block;
    margin-left: 10px;
    border-radius: 7px;
    text-align: center;
    padding-top: 3px;
    border: 2px solid #cacaca;
    line-height: 30px;
}
.mCSB_scrollTools .mCSB_draggerRail {
    width: 7px !important;
    height: 100%;
    margin: 0 auto;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    background: #f3f2f2 !important;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 6px !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgb(75 110 175 / 69%) !important;
}
.search-div input.input-control.search-input {
    border: 2px solid #d6d6d6;
    border-radius: 8px;
    height: 52px;
    padding: 0 16px 0 35px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    width: 310px;
    font-size: 18px;
}


label{margin-left: 20px;}
#datepicker{margin: 0 20px 20px 20px;}
#datepicker > span:hover{cursor: pointer;}

label{margin-left: 20px;}
#datepicker{margin: 0 20px 20px 20px;}
#datepicker > span:hover{cursor: pointer;}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    vertical-align: middle !important;
}


/***=== Naveen ===***/
.transaction-page-filter .form-group .input-group.date {
    margin: 0 !important;
    float: left;
    width: 100%;
    position: relative;
}
.transaction-page-filter .form-group .input-group.date input.form-control {
    background: #fff;
    border: 2px solid #c5cddc;
    border-radius: 8px;
    height: 50px;
    line-height: 34px;
    font-size: 18px;
    padding: 6px 18px;
    height: 50px !important;
}
.transaction-page-filter .form-group .input-group.date span.input-group-addon {
    position: absolute;
    right: 20px;
    top: 8px;
    z-index: 99;
    background: transparent;
    border: 0;
    color: #afabab;
    font-size: 18px;
}
.right-main-inn.workout-plan.reports .transaction-page-filter {
    padding-bottom: 20px;
}
.transaction-page-filter .form-group {
    margin-bottom: 15px;
}
.transaction-page-filter .form-group .input-group.date label.control-label {
    margin: 0;
    z-index: 9;
    font-size: 16px;
}
.table tbody td:last-child a img.mCS_img_loaded {
    width: 26px;
}
.btn-check:active+.btn-secondary:focus, .btn-check:checked+.btn-secondary:focus, .btn-secondary.active:focus, .btn-secondary:active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0rem rgb(130 138 145 / 50%);
}
.dashboard-graph {
    float: left;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0px 3px #dedede;
    padding: 20px 20px;
    margin-bottom: 30px;
}
ul.graph-series {
    float: left;
    width: auto;
    margin-bottom: 15px;
}
ul.graph-series li {
    float: left;
    margin-right: 30px;
    padding-left: 0px;
    position: relative;
    font-size: 19px;
}
ul.graph-series li span {
    float: left;
    width: 8px;
    height: 8px;
    border-radius: 32px;
    background: #c03b2a;
    margin: 9px 9px 0 0px;
}
ul.graph-series li span.banks-span {
    background: #4b6eaf;
}
.dropdown.bootstrap-select.graph-select button.btn.dropdown-toggle.btn-light {
    background: #e3e6ea;
    font-size: 18px;
    border: 2px solid #cfd1d4;
    border-radius: 5px;
}
.dropdown.bootstrap-select.graph-select {
    float: right;
}
.graph-main-div {
    width: 100%;
    float: left;
    margin-top: 30px;
}
.graph-main-div img {
    width: 100%;
    margin-bottom: 10px;
}
.dashboard-bank-list {
    float: left;
    width: 100%;
}
.dashboard-bank-list h3 {
    float: left;
    margin-bottom: 10px;
    font-size: 25px;
    color: #3b3e42;
}
.dashboard-bank-list a.see-banks {
    float: right;
    color: #4b6eaf;
    font-size: 20px;
    font-weight: 500;
}
ul.banks-list-recent {
    float: left;
    width: 100%;
}
ul.banks-list-recent li {
    float: left;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 12px 12px;
    box-shadow: 0 0 3px #d4d4d4;
}
ul.banks-list-recent li span.bank-logo {
    float: left;
    width: 60px;
    margin-right: 15px;
}
ul.banks-list-recent li span.bank-logo img {
    width: 100%;
}
.recentbank-data {
    float: left;
}
.recentbank-data h4 {
    font-size: 16px;
    float: left;
    width: 100%;
    margin: 1px 0 3px;
}
.recentbank-data span {
    font-size: 13px;
    color: #969696;
}
.recentbank-data p {
    font-size: 15px;
}
.right-main-inn.dashboard-main-page .dashbord-main-inner {
    min-height: calc(100vh - 615px);
    max-height: calc(100vh - 615px);
}

.right-main-inn.dashboard-main-page .dashbord-main-inner .content-fullpage {
    max-height: calc(100vh - 645px);
}
.mCSB_scrollTools .mCSB_draggerRail {
    height: 94% !important;
}
.dashboard-bank-list .content-fullpage.mCustomScrollbar {
    float: left;
    width: 100%;
    max-height: 420px;
}
.login-left {
    float: left;
    width: 50%;
    background: #fff;
    padding: 50px 40px;
    text-align: center;
    height: 100vh;
}

.login-left-img {
    margin: 0 auto;
    width: 70%;
}
.login-left-img img {
    margin: 0 auto;
    width: 100%;
}
.login-right {
    float: left;
    width: 50%;
    background: #4b6eaf;
    padding: 40px 40px;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-right-inner {
    width: 54%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login-right-inner h3 {
    color: #fff;
    font-size: 36px;
    float: left;
    width: 100%;
    text-align: center;
}
.login-right-inner h4 {
    font-weight: 100;
    color: #fff;
    font-size: 21px;
    margin: 13px 0 80px;
}
.login-right-inner .form-group {
    margin-bottom: 35px;
    position: relative;
    padding-left: 0;
    float: left;
    width: 100%;
    width: 100%;
    height: auto;
    display: block;
    width: 100% !important;
}
.login-right-inner .control-label {
    font-size: 16px;
    font-weight: 400;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 22px, 0) scale(1);
    transform-origin: left top;
    transition: 240ms;
    line-height: 29px;
    left: 15px;
    top: -13px;
    padding: 0 6px;
    margin-left: 0;
    color: #fff;
}
.login-right-inner .form-control {
    display: block;
    width: 100%;
    height: 37px;
    padding: 6px 16px;
    font-size: 13px;
    line-height: 1.846;
    color: #666666;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.login-right-inner .form-control {
    border: 0;
    border-bottom: 1px solid #dadada;
    border-radius: 0;
    padding-left: 0;
    position: relative;
}
.login-right-inner input.form-control, .login-right-inner select {
    height: 50px !important;
    font-size: 16px !important;
    color: #ffffff !important;
}
textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control {
    padding: 0;
    border: 2px solid #dadceb;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 0px 0 #dddddd;
    box-shadow: inset 0 0px 0 #dddddd;
    font-size: 16px;
    padding: 2px 20px;
    border-radius: 6px;
    background: transparent;
}
.form-group.focused .control-label {
    opacity: 1;
    transform: scale(0.85);
    color: #ffffff;
    font-weight: 500;
    background: #4b6eaf;
    z-index: 999;
    top: -12px;
}
span.password-icon img {
    width: 100%;
}
span.password-icon {
    position: absolute;
    right: 14px;
    width: 30px;
    top: 13px;
}


a.forgot {
    float: right;
    font-size: 16px;
    color: #fff;
}
.forgot i.fas.fa-unlock-alt {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
}

button.btn.login {
    background: #ffffff;
    width: 100%;
    color: #4b6eaf;
    font-size: 18px;
    padding: 10px 0;
    border-radius: 7px;
    margin-top: 35px;
    margin-bottom: 40px;
}
.login-main {
    float: left;
    width: 100%;
    position: relative;
}

.login-container {
    display: block;
    position: relative;
    padding-left: 33px;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 0;
    color: #fff;
    width: 60%;
    float: left;
}
.login-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #4b6eaf;
    border-radius: 4px;
    border: 2px solid #fff;
}

/* Hide the browser's default checkbox */
.login-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.login-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #4b6eaf;
}

/* On mouse-over, add a grey background color */
.login-container:hover input ~ .checkmark {
  background-color: #4b6eaf;
}

/* When the checkbox is checked, add a blue background */
.login-container input:checked ~ .checkmark {
  background-color: #4b6eaf;
}

/* Create the checkmark/indicator (hidden when not checked) */
.login-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.login-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.login-container .checkmark:after {
    left: 9px;
    top: 4px;
    width: 5px;
    height: 11px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(
45deg
);
    -ms-transform: rotate(45deg);
    transform: rotate(
45deg
);
}








@media only screen and (max-width: 1600px){
    .recentbank-data p {
    font-size: 14px;
}
.recentbank-data span {
    font-size: 12px;
    color: #969696;
}
.recentbank-data h4 {
    font-size: 15px;
    float: left;
    width: 100%;
    margin: 1px 0 0px;
}
ul.banks-list-recent li {
    margin-bottom: 12px;
    padding: 10px 10px;
}
.dashboard-bank-list h3 {
    font-size: 22px;
        margin-bottom: 7px;
}
.dashboard-bank-list a.see-banks {
    font-size: 18px;
}
ul.banks-list-recent li span.bank-logo {
    float: left;
    width: 57px;
    margin-right: 12px;
}
.login-right-inner {
    width: 64%;
}
}

@media only screen and (max-width: 1440px){
    .recentbank-data {
        float: left;
        width: 79%;
    }
.right-main-inn.dashboard-main-page .dashbord-main-inner {
    min-height: calc(100vh - 495px);
    max-height: calc(100vh - 495px);
}
.right-main-inn.dashboard-main-page .dashbord-main-inner .content-fullpage {
    max-height: calc(100vh - 525px);
}
.table-main th, .table-main td {
    padding: .65rem .45rem;
    font-size: 14px;
}
h2.dashboard-btm-heading {
    font-size: 20px;
}
.dashboard-bank-list .content-fullpage.mCustomScrollbar {
    float: left;
    width: 100%;
    max-height: 277px;
}
.recentbank-data {
    float: left;
    width: 77%;
}
.dashboard-bank-list h3 {
    font-size: 20px;
    margin-bottom: 7px;
}
.login-right-inner {
    width: 66%;
}
}

@media only screen and (max-width: 1365px){
    .recentbank-data {
    float: left;
    width: 75%;
}
.left-bar {
    width: 210px;
}
.right-main {
    padding-left: 230px;
}
.left-bar li a {
    margin-bottom: 9px;
}
.transaction-page-filter .form-group button.btn {
    background: #fff;
    border: 2px solid #c5cddc;
    border-radius: 8px;
    height: 44px;
    line-height: 28px;
    font-size: 16px;
    padding: 5px 15px;
}
.transaction-page-filter .form-group .input-group.date input.form-control {
    line-height: 28px;
    font-size: 16px;
    padding: 6px 18px;
    height: 44px !important;
}
button.btn.reset {
    margin-left: 2px;
    background: #4b6eaf;
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
    padding: 9px 32px;
    margin-top: -1px;
    margin-right: 10px;
}
.transaction-page-filter .form-group {
    margin-bottom: 22px;
}
.transaction-page-filter {
    float: left;
    width: 100%;
    background: #fff;
    padding: 23px 19px 0;
}
.dashbord-main-inner {
    padding: 3px 2px;
}
.transaction-arrow {
    width: 40px;
    height: 36px;
    font-size: 18px;
}
.login-right-inner {
    width: 70%;
}
.login-left-img {
    margin: 40px auto;
    width: 90%;
}
}
@media only screen and (max-width: 1199px){
    .recentbank-data {
        float: left;
        width: 71%;
    }
    .dropdown.bootstrap-select.graph-select {
    float: right;
    width: 160px !important;
}
.right-main-inn.dashboard-main-page .dashbord-main-inner {
    padding: 0px 2px;
}
.table-main th, .table-main td {
    padding: .65rem .25rem;
    font-size: 13px;
}
.top-nav a {
    margin: 7px 0 0 0;
    display: inline-block;
    padding: 0 5px;
    float: left;
    width: 180px;
}
.dashboard-bank-list .content-fullpage.mCustomScrollbar {
    float: left;
    width: 100%;
    max-height: 257px;
}
.transaction-arrow {
    width: 45px;
    height: 40px;
    font-size: 21px;
        border-radius: 5px;
}
.left-bar ul {
    margin-top: 0px;
}
.login-right-inner {
    width: 80%;
}
}

@media only screen and (max-width: 991px){
    .right-main-inn.dashboard-main-page .col-md-7, .right-main-inn.dashboard-main-page .col-md-5 {
    flex: 0 0 100%;
    max-width: 100%;
}
h2.dashboard-btm-heading {
    font-size: 20px;
    margin-top: 30px;
}
.left-bar {
    width: 185px;
    padding: 5px 9px 30px;
}
.left-bar li a {
    font-size: 16px;
    line-height: 44px;
    padding: 0px 5px 1px 16px;
    border-radius: 50px;
}
.left-bar li a img {
    width: 25px;
}
.dashboard-main-div .table-responsive {
    padding: 0 0px 0 10px;
}
.right-main-inn.dashboard-main-page .dashbord-main-inner .mCSB_inside > .mCSB_container {
    margin-right: 20px !important;
}
.right-main {
    padding-left: 200px;
}
.table-main th, .table-main td {
    padding: .65rem 0.08rem;
    font-size: 11px;
}
button.btn.reset {
    margin-left: 2px;
    background: #4b6eaf;
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
    padding: 9px 21px;
    margin-top: -1px;
    margin-right: 10px;
}
.transaction-page-filter .form-group button.btn {
    height: 42px;
}
.transaction-page-filter .form-group .input-group.date input.form-control {
    line-height: 28px;
    font-size: 16px;
    padding: 6px 18px;
    height: 42px !important;
}
.transaction-page-filter .form-group .input-group.date input.form-control {
    line-height: 36px;
    font-size: 13px !important;
    padding: 10px 18px 6px 11px;
    height: 42px !important;
}
.transaction-page-filter .form-group .input-group.date span.input-group-addon {
    position: absolute;
    right: 11px;
    top: 8px;
    font-size: 14px;
}
.transaction-page-filter .form-group .input-group.date label.control-label {
    margin: 0;
    z-index: 9;
    font-size: 15px;
    left: 8px;
}
.transaction-page-filter .form-group button.btn {
    font-size: 14px;
    padding: 5px 11px;
}
.transaction-page-filter .form-group.focused .control-label {
    z-index: 999;
    top: -12px;
    font-size: 15px;
    left: 8px;
}
.transaction-page-filter .control-label {
    font-size: 15px;
}
.right-main-inn.workout-plan.Transactions-page-div table.table.table-main {
    width: 750px;
    max-width: 750px;
}
.right-main-inn.workout-plan.reports table.table.table-main {
    width: 750px;
    max-width: 750px;
}
.login-right-inner {
    width: 100%;
}
.login-right {
    padding: 30px 26px;
}
.login-left {
    float: left;
    width: 43%;
    background: #fff;
    padding: 50px 0px;
    text-align: center;
    height: 100vh;
}
.login-right {
    float: left;
    width: 57%;
    background: #4b6eaf;
    padding: 30px 21px;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
}